.contactsList {
  border-right: 2px solid var(--color3-light-theme);
  overflow-y: auto;

  &.contactsList_selectedChat {
    @media (max-width: 699px) {
      display: none;
    }
  }
  
  &__header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--scale) * 1);
  
    padding: calc(var(--scale) * 0.75);
    background-color: var(--button-background-color);
  
    border-bottom: 2px solid var(--color3-light-theme);
    
    @media (prefers-color-scheme: light) {
      color: var(--color-light-theme);
      background-color: var(--background2-color-light-theme);
    }
  }
  
  &__main {
    display: flex;
    flex-direction: column;
  }
  
  &__title {
    margin: 0;
    padding: calc(var(--scale) * 0.75);

    font-size: calc(var(--scale) * 1.25);
    color: var(--link-color);
  }

  &__userBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__signOut {
    width: calc(var(--scale) * 2);
    height: calc(var(--scale) * 2);;

    background: none;
    border: none;
    background-image: url(../../assets//logout.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    cursor: pointer;
    
    &:active {
      transform: scale(0.9);
    }
  }
}
